<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <springProperty scope="context" name="appName" source="spring.application.name"/>

  <!-- ref: https://github.com/logstash/logstash-logback-encoder/tree/main#providers-for-loggingevents -->
  <appender name="jsonout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <mdc/>
        <timestamp>
          <timeZone>Asia/Taipei</timeZone>
        </timestamp>
        <logLevel/>
        <threadName/>
        <loggerName>
          <fieldName>class_name</fieldName>
        </loggerName>
        <message/>
        <pattern>
          <pattern>
            {
            "app_name": "${appName:-}"
            }
          </pattern>
        </pattern>
        <stackTrace>
          <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
            <maxDepthPerThrowable>30</maxDepthPerThrowable>
            <maxLength>10240</maxLength> <!-- 最多帶 10k的 stack trace, 超過應該也沒用了 -->
            <shortenedClassNameLength>20</shortenedClassNameLength>
            <rootCauseFirst>true</rootCauseFirst> <!-- 將 root cause 擺最前面, 避免超過 10k 被 trim 掉 -->
          </throwableConverter>
        </stackTrace>
      </providers>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="jsonout"/>
  </root>

  <logger name="com.transglobe.framework" level="debug"/>

</configuration>
